



        {% extends "base.html" %}
        {% block content%}
        <style>
        html{
        height:100%;
        background-image:url("/static/mal1.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }

        </style>
            <div class="middle-content">
                <h1 class="middle-text-content"><span class="boxing"><span class="changecas">CAS</span>CADE</span></h1>
            </div>

        {% endblock %}


